*.log
/logs/**
/install-modules/aiInstaller/**
/_to_deprecated_dir/**
/storage/ai/**
/storage/logs/
/bootstrap/ssr
/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.DS_Store
.phpunit.result.cache
.php-cs-fixer.php
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
/.idea
/.vscode
/**/lang/php_*.json
/_Deprecated
/storage/commands/PushToHosting.json
/storage/commands/ftp.json
/storage/ai/system/
/resources/_t/
/storage/aiTestEnv/



